<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="img/about-us.png" alt="">
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>Venha <br>
            saber mais <br>
            sobre mim</h2>
          <p>
            Formado em Design gráfico, amante de desenvolvimento de web,
            mobile e aplicações. Desenvolvedor frontend a cerca de 6 anos,
            com expertise em aplicações javascript. Já trabalhei com Vue.js,
            Next.js, Materializze, Chackra-ui, Bootstrap, React, React native,
            Flutter, entre outras frameworks.
            Conhecimento em design agrega muito valor aos meus trabalhos,
            seja em UI/UX, trazendo resultados com ótimas performances,
            usabilidade e com ótimas tratativas para resolver problemas.
          </p>
          <a class="primary_btn" target="_blank" href="http://rj-dev.wuaze.com/cv-rj.pdf"
            download="http://rj-dev.wuaze.com/cv-rj.pdf"><span>Meu Currículo</span></a>
        </div>
      </div>
    </div>
  </div>
</section>