<section class="container">
  <h2>Minhas Certificações</h2>
  <div class="row">
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/NLW Unite - Fullstack.jpg" class="card-img-top" alt="Certificado 1">
        <div class="card-body">
          <h5 class="card-title">NLW Unite - Fullstack</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/NLW Unite - DevOps.jpg" class="card-img-top" alt="Certificado 1">
        <div class="card-body">
          <h5 class="card-title">NLW Unite - DevOps</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/NLW Unite - Fullstack.jpg" class="card-img-top" alt="Certificado 1">
        <div class="card-body">
          <h5 class="card-title">NLW Unite - Fullstack</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/NLW Unite - Nodejs.jpg" class="card-img-top" alt="Certificado 1">
        <div class="card-body">
          <h5 class="card-title">NLW Unite - Nodejs</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/NLW Unite - Reactjs.jpg" class="card-img-top" alt="Certificado 1">
        <div class="card-body">
          <h5 class="card-title">NLW Unite - Reactjs</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/NLW Unite - React Native.jpg" class="card-img-top" alt="Certificado 1">
        <div class="card-body">
          <h5 class="card-title">NLW Unite - React Native</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/HTML BÁSICO-11 HRS.jpg" class="card-img-top" alt="Certificado 1">
        <div class="card-body">
          <h5 class="card-title">HTML BÁSICO-11 HRS</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/HTML AVANÇADO - 6 HRS.jpg" class="card-img-top" alt="Certificado 2">
        <div class="card-body">
          <h5 class="card-title">HTML AVANÇADO - 6 HRS</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/INTRO A INFORMATICA - 20 HRS.jpg" class="card-img-top" alt="Certificado 3">
        <div class="card-body">
          <h5 class="card-title">INTRO A INFORMATICA - 20 HRS</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/ILUSTRAÇÃO E DG PARA WEB - 25 HRS.jpg" class="card-img-top" alt="Certificado 4">
        <div class="card-body">
          <h5 class="card-title">ILUSTRAÇÃO E DG PARA WEB - 25 HRS</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/J2ME - 54 HRS.jpg" class="card-img-top" alt="Certificado 5">
        <div class="card-body">
          <h5 class="card-title">J2ME - 54 HRS</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/PROGRAMAÇÃO EM C.jpg" class="card-img-top" alt="Certificado 6">
        <div class="card-body">
          <h5 class="card-title">PROGRAMAÇÃO EM C# - 117 HRS</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 10px;">
      <div class="card">
        <img src="img/certificate/INTRO A FOTOGRAFIA DIG - 27 HRS.jpg" class="card-img-top" alt="Certificado 7">
        <div class="card-body">
          <h5 class="card-title">INTRO A FOTOGRAFIA DIG - 27 HRS</h5>
        </div>
      </div>
    </div>
  </div>
</section>