<!--================ Start Footer Area =================-->
<footer class="footer_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="footer_top flex-column">
          <div class="footer_logo">
            <a href="#">
              <img src="img/logo.png" alt="">
            </a>
            <h4>Siga me</h4>
          </div>
          <div class="footer_social">
            <a target="_blank" href="https://github.com/rogeriojr"><i class="fa fa-github"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/rog%C3%A9rio-j%C3%BAnior-174719120/"><i
                class="fa fa-linkedin"></i></a>
            <a target="_blank"
              href="https://api.whatsapp.com/send?phone=5564981294566&text=Ol%C3%A1%2C%20vi%20seu%20portifolio%20e%20me%20interessei%20no%20seu%20trabalho%21"><i
                class="fa fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
</footer>
<!--================ End Footer Area =================-->