<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content">
            <h3 class="text-uppercase">0Lá!</h3>
            <h1 class="text-uppercase">Eu sou o Rogério</h1>
            <h5 class="text-uppercase">Desenvolvedor Frontend - JavaScript</h5>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img class=""
              src="https://camo.githubusercontent.com/b6d626b98111f101fed3ce6f26c9a7e528aa9332904802f0021f56e018ae6df1/68747470733a2f2f6d656469612e74656e6f722e636f6d2f55673663625641315a734d41414141642f646576656c6f7065722e676966"
              alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->