<!-- Carregando jQuery antes dos scripts que dependem dele -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.24.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.24.1/firebase-firestore-compat.js"></script>

<script type="module" src="firebase-config.js"></script> <!-- Importando o arquivo de configuração -->

<!-- Seus scripts -->
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stellar.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="vendors/isotope/isotope-min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/gmaps.min.js"></script>
<script src="js/theme.js"></script>

<script src="js/portfolioManager.js"></script>
<!-- Certifique-se que o portfolioManager.js utiliza a instância do Firestore importada -->
<script type="module" src="firebase-config.js"></script>
<script>
  //Inicializa portfolioManager após o carregamento do firebase
  window.addEventListener('load', () => {
    window.portfolioManager.init();
  });
</script>