<!-- Carregando jQuery antes dos scripts que dependem dele -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.24.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.24.1/firebase-firestore-compat.js"></script>

<!-- Configuração do Firebase -->
<script type="module" src="firebase-config.js"></script>

<!-- Seus scripts normais -->
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stellar.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="vendors/isotope/isotope-min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/gmaps.min.js"></script>
<script src="js/theme.js"></script>

<!-- Carregando o gerenciador de portfólio corretamente -->
<script type="module">
  import { db } from './firebase-config.js';
  import { portfolioManager } from './js/portfolioManager.js';

  document.addEventListener('DOMContentLoaded', () => {
    portfolioManager.init();
  });
</script>